ul{
    list-style-type: none;
}

.list-item div {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.list-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

.nav-content .list-container .list-item {
    padding: 5px;
}

.nav-content .list-container .list-item:hover {
    background-color: aliceblue;
}


.beer-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 40px;
    padding: 0;
}

.beer-list-container .list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.beer-list-container .list-container .list-item {
    width: 200px;
    height: 130px;
    margin: 10px;
}