.list-item {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    background-color: #eee;
}

.list-item div {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.style-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}